[Unit]
Description=NodeJS RealTime Poll Backend
After=network.target
 
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/nodeapps/realtime-poll-backend/
ExecStart=/usr/bin/npm run start
Restart=on-failure
 
[Install]
WantedBy=multi-user.target

